In [65]:
import pandas as pd
import math
import sklearn as sk

In [66]:
first_sentence = "Jupiter is the largest Planet"
second_sentence = "Mars is the fourth planet from the Sun"

In [67]:
#split so each word have their own string
first_sentence= first_sentence.split()
second_sentence= second_sentence.split()
total=set(first_sentence).union(set(second_sentence))

In [68]:
print(total)

{'Sun', 'is', 'planet', 'fourth', 'Mars', 'Planet', 'Jupiter', 'from', 'largest', 'the'}

In [69]:
wordDictA = dict.fromkeys(total, 0)

In [70]:
wordDictB = dict.fromkeys(total,0)

In [71]:
for word in first_sentence:
  wordDictA[word]+=1

In [72]:
for word in second_sentence:
   wordDictB[word]+=1

In [73]:
pd.DataFrame([wordDictA, wordDictB])

   Sun  is  planet  fourth  Mars  Planet  Jupiter  from  largest  the
0    0   1       0       0     0       1        1     0        1    1
1    1   1       1       1     1       0        0     1        0    2

In [74]:
def computeTF(wordDict, doc):
  tfDict = {}
  corpusCount = len(doc)
  for word, count in wordDict.items():
    tfDict[word] = count/float(corpusCount)
  return tfDict

In [75]:
tfFirst = computeTF(wordDictA, first_sentence)
tfSecond = computeTF(wordDictB, second_sentence)

In [76]:
tf = pd.DataFrame([tfFirst, tfSecond])

In [77]:
tf

     Sun     is  planet  fourth   Mars  Planet  Jupiter   from  largest   the
0  0.000  0.200   0.000   0.000  0.000     0.2      0.2  0.000      0.2  0.20
1  0.125  0.125   0.125   0.125  0.125     0.0      0.0  0.125      0.0  0.25

In [78]:
def computeIDF(docList):
  idfDict = {}
  N = len(docList)
  idfDict = dict.fromkeys(docList[0].keys(), 0)
  for word, val in idfDict.items():
    idfDict[word] = math.log10(N/(float(val)+1))
  return(idfDict)

In [79]:
idfs=computeIDF([wordDictA, wordDictB])

In [80]:
idfs

{'Sun': 0.3010299956639812,
 'is': 0.3010299956639812,
 'planet': 0.3010299956639812,
 'fourth': 0.3010299956639812,
 'Mars': 0.3010299956639812,
 'Planet': 0.3010299956639812,
 'Jupiter': 0.3010299956639812,
 'from': 0.3010299956639812,
 'largest': 0.3010299956639812,
 'the': 0.3010299956639812}

In [81]:
def computeTFIDF(tfBow, idfs):
 tfidf = {}
 for word, val in tfBow.items():
  tfidf[word] = val*idfs[word]
 return(tfidf)

In [82]:
idfFirst = computeTFIDF(tfFirst, idfs)
idfSecond = computeTFIDF(tfSecond, idfs)

In [83]:
idf = pd.DataFrame([idfFirst, idfSecond])
print(idf)

        Sun        is    planet    fourth      Mars    Planet   Jupiter  \
0  0.000000  0.060206  0.000000  0.000000  0.000000  0.060206  0.060206
1  0.037629  0.037629  0.037629  0.037629  0.037629  0.000000  0.000000

       from   largest       the
0  0.000000  0.060206  0.060206
1  0.037629  0.000000  0.075257